@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-light;
}

.common-button {
    @apply flex items-center justify-center rounded-full hover:opacity-80 transition-all duration-200 cursor-pointer;
    &:not(.round-btn) {
        @apply py-1 px-3;
    }
    &.round-btn {
        @apply p-2;
    }
}

.common-input {
    @apply flex items-center rounded-md bg-light transition-all duration-200 p-2;
    
}

.primary-glass {
    background: rgba(5, 16, 20, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.secondary-glass {
    background: rgba(251, 139, 36, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}