<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" class="rounded-full" href="{{ asset('images/gitLogo-round.png') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <script src="https://kit.fontawesome.com/fe5697ca0b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="hide-panel" class="primary-glass invisible absolute z-30 h-full w-full opacity-0 transition-all duration-300"></div>
        {% include "includes/navbar.html.twig" %}

        <div class="flex flex-col items-center justify-center gap-6 p-12">
            {% block content %}{% endblock %}
        </div>

        {% block extra_js %}{% endblock %}
    </body>
</html>
